<br>
<div class="aboutUs">
    <h3 class="messageCenter">
        Welcome to the BAMM Workout App!
        <p>
            On this page you can find all the tools to make your
            workout experience better than ever! Regardless of what your goal may be,
            you will be able to find the best exercises and routines to achieve them.
            We hope that you have a great time on our application, and remember, no pain, no gain!
        </p>
    </h3>
</div>

<br>

<div class="signUp">
    <h2 class="messageCenter">
        Ask for a Workout Recommendation:
    </h2>
    <div class="form">
        <button (click)="workoutRecommendation()">Recommend me some work-outs!</button>
    </div>
    <div *ngIf="displayExercises">
      <ul>
        <p>Because you favorited an exercise targeting {{recommendedExercises[0].muscleWorked}}, we recommend:</p>
        <li *ngFor="let exercise of recommendedExercises">
          <h3>{{exercise.exerciseName}}</h3>
        </li>
      </ul>
    </div>
</div>
<br>
<div class="newbanner">
    <h2 class="messageCenter">
        View All Exercises:
    </h2>
    <div class="form">
        <button (click)="viewAllExercises()">Show me all exercises!</button>
    </div>
  <div *ngIf="displayAllExercises">
    <ul>
      <p>All Exercises:</p>
      <li *ngFor="let exercise of exercises">
        <h3>{{exercise.exerciseName}}</h3>
      </li>
    </ul>
  </div>
</div>
<div class="myWorkouts">
  <h2 class="messageCenter">
    View My Goals:
  </h2>
  <div class="form">
    <button (click)="getMyGoals()">Show me my goals!</button>
  </div>
  <div *ngIf="displayGoals">
    <ul>
      <p>Your Goals:</p>
      <li *ngFor="let goal of goals">
        <h3>{{goal.goals}}</h3>
      </li>
    </ul>
  </div>
</div>


<button (click)="logout()">Logout</button>

