<br>
<div class="aboutUs">
    <h3 class="messageCenter">
        Welcome Administrator!
    </h3>
</div>

<br>

<div class="signUp">
    <h2 class="messageCenter">
        Modify trainer salaries:
    </h2>
    <div class="form">
        <button (click)="trainerSalaries()">Give a raise to below-average income trainers</button>
    </div>
</div>

<br>


<div class="signUp">
    <h2 class="messageCenter">
        Display number of users per age group:
    </h2>
    <div class="form">
        <button (click)="getUsersByAge()">View age demographics of BAMM</button>
    </div>
    <div *ngIf="displayAge">
      <ul>
        <li *ngFor="let group of usersByAge">
          <h3>Age: {{group.age}}</h3>
          <p>Number of Users: {{group.numberOfPeople}}</p>
        </li>
      </ul>
    </div>
</div>

<br>

<div class="signUp">
    <h2 class="messageCenter">
        Display all users and their workouts:
    </h2>
    <div class="form">
        <button (click)="getUsersWorkouts()">View all users workouts</button>
    </div>
    <div *ngIf="userWorkouts">
      <ul>
        <li *ngFor="let group of userWorkouts">
          <h3>Name: {{group.name}}</h3>
          <p>ID: {{group.id}}</p>
          <p>Age: {{group.age}}</p>
          <p>Workout ID: {{group.workoutID}}</p>
          <p>Workout Name: {{group.workoutName}}</p>
        </li>
      </ul>
    </div>
</div>

<br>

<button (click)="logout()">Logout</button>

<app-loginpage *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-loginpage>
